body.skycom-container {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 20px 0;
}

p:last-of-type {
  margin-bottom: 0px;
}

ul.bullet {
  list-style-type: disc;
  margin-bottom: 16px;
}

ul.bullet-sub {
  list-style-type: circle;
}

ul.project {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0.5em 0
}
