
    <div class="skycom-12 alpha">
      <h2>{{title}}</h2>
      <ul>
        {{#each academics}}
          <li>
            <span class="skycom-9 alpha">{{description}}</span>
            <strong class="skycom-3">{{date}}</strong>
          </li>
        {{/each}}
      </ul>
    </div>
