<head>
<title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="css/skycom-assets.css">
  <link rel="stylesheet" type="text/css" href="css/skycom-toolkit.css">
  <link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
