<html>
  {{> head }}
  <body class="skycom-container clearfix" id=grid12>
    {{> sections/personal-details }}
    {{> sections/summary title="Personal Profile" }}
    {{> sections/employment-and-projects title="Employment" }}
    {{> sections/academics title="Education & Professional Qualifications" }}
  </body>
</html>
